REACT_APP_API_BASE_URL=http://localhost:5000
REACT_APP_LEGAL_RAG_API=https://legal-rag-assistant-742042368490.asia-south1.run.app
REACT_APP_CHAT_HISTORY_API=http://localhost:4000
REACT_APP_VOICE_SERVICE_URL=https://voice-interview-agent-e5zeguajta-uc.a.run.app
